
/* Format beyond carbon state data table */
#lifecycle_selects #state_select, .bigselect {
  font-size: 18px !important;
  width:100%;
  max-width: 500px;
  padding: 5px;
  border-radius: 10px;

  max-width: 300px;
  padding: 10px;
  border-radius: 20px;
}
.state-table {
  width: 100vw;
  margin-bottom: 0;
  display:nonetable;
  background-color:#eee;
}
.state-table-data {
  display: table-cell;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  padding: 30px 50px 30px 0px;
  text-align:left;
  border-bottom: solid lightgrey 1px;
  border-right: solid lightgrey 1px; 
}
#resultsTable td {
  border-bottom: 1px solid #777;
  padding-top: 4px;
  padding-bottom: 4px;
}
#resultsTable {
  margin-bottom: 8px;
}
#hero_holder {
  position: relative;
}
.hero-text {
  /* float:left; */
  color:#fff;
  padding-right:80px;
}
.hero-title {
  font-size: 55px;
  line-height: 1em;
  font-weight:800;
  text-shadow: 2px 2px 8px #111;
}
.hero-title-lg {
  font-size:54px;
  line-height: 1.1em;
  font-weight:800;
  text-shadow: 2px 2px 6px #333;
}
@media (max-width: 800px) {
  .hero-text {
    float: none;
  }
  #hero-rect {
    width: 100% !important;
    max-width: 500px !important;
  }
}
.hero-bucket {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  margin: 0 auto; /* We'll center instead */
  max-width: 600px;
  padding: 20px 50px 20px 50px;
  overflow: auto;
  float: left;
}

.bgimg {
  min-height: 600px;
}
.btn {
  font-weight: 600;
}
#hero-rect {
  overflow: auto;
  float: none !important;
}
/* TO DO: Only set this css when state param is null, otherwise two hero images are loaded. */
.bgimg {
  background-image: url(https://model.earth/us-states/images/backgrounds/1280x720/landscape/south-dakota.jpg);
}
.hero-title {
  margin-bottom: 4px;
}
.hero-text .location_titles {
  font-size: 28px;
  margin-bottom: 14px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #111;
}
  
#menuImages {
  display: block !important;
}
#menuImages > div {
  float: left;
}
#menuImages img {
  max-width: 200px;
  margin-right: 10px;
}
#hero-mini {

}